LLM_MODEL=llm-model
LLM_BASE_URL=api-url
LLM_API_KEY=api-key

COMMERCE_API_BASE_URL=http://127.0.0.1:18081

DATABASE_URL_SYNC=mysql+pymysql://ecom:password@localhost:3306/customer_service?charset=utf8mb4
DATABASE_URL=mysql+asyncmy://ecom:password@localhost:3306/customer_service?charset=utf8mb4

APP_TITLE=电商小二
APP_DESCRIPTION=电商小二智能客服应用
APP_HOST=127.0.0.1
APP_PORT=18082

LOG_LEVEL=INFO